<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>21/04/11 16:17:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SwiftTools_VerifyAGIAfter.Initialization()[pri:0, instance:TestCases.SwiftTools_VerifyAGIAfter@4386f16]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@365181913</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/04/11 16:17:05</td>   <td>3690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwiftTools_VerifyAGIAfter.VerifyMessageAfter()[pri:0, instance:TestCases.SwiftTools_VerifyAGIAfter@4386f16]">VerifyMessageAfter</td> 
  <td>main@365181913</td>   <td></td> </tr>
</table>
