<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>21/04/11 16:26:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SwiftTools_VerifyAGI.Initialization()[pri:0, instance:TestCases.SwiftTools_VerifyAGI@4386f16]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/04/11 16:26:29</td>   <td>3686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwiftTools_VerifyAGI.VerifyMessageBefore()[pri:0, instance:TestCases.SwiftTools_VerifyAGI@4386f16]">VerifyMessageBefore</td> 
  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="8e78f2">  <td>21/04/11 16:26:48</td>   <td>23284</td> <td>&nbsp;</td><td title="&gt;&gt;SwiftTools_AGI.Initialization()[pri:0, instance:TestCases.SwiftTools_AGI@63021689]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="8e78f2">  <td>21/04/11 16:26:52</td>   <td>26491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwiftTools_AGI.MessageSend()[pri:0, instance:TestCases.SwiftTools_AGI@63021689]">MessageSend</td> 
  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/04/11 16:27:11</td>   <td>45536</td> <td>&nbsp;</td><td title="&gt;&gt;SwiftTools_VerifyAGI.Initialization()[pri:0, instance:TestCases.SwiftTools_VerifyAGI@17046283]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@105374791</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>21/04/11 16:27:14</td>   <td>48654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwiftTools_VerifyAGI.VerifyMessageBefore()[pri:0, instance:TestCases.SwiftTools_VerifyAGI@17046283]">VerifyMessageBefore</td> 
  <td>main@105374791</td>   <td></td> </tr>
</table>
